/* INDEX */


/* HEADER */


/* SEARCH AND CARDS */



.ui.icon.input {
    grid-column: 1 / 4;
    grid-row: 1;
}

#cards-outer {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
}

#cards {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
}

/* FOOTER */

#inner-footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 1fr));
    place-items: center;
}

#inner-footer p {
    grid-column: 1 / 3;
}