
.h1 { 
    text-align: center !important;
    margin: auto;
    padding: auto;
}

/* .landing {
    padding: 20px !important;
} */

.button.button.red {
    margin-top: 20px;
}

.arrow.down.icon {
    margin-top: 20px;
}

.websiteBtn {
    color: #21BA45 !important;
}
.orderBtn {
    color: #DB2828 !important;
    font-style: italic;
}

/* .ui.cards {
    justify-content: space-between !important;
} */