/* UNIVERSALS */

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

body, #root, #index {
  width: 100vw;
  height: 100%;
}

#index {
  position: relative;
}
/* NAVIGATION */

#navBar {
  height: 75px;
}

#logo-image {
  width: 15px;
}

.ui.menu > .container, .ui.menu > .grid {
    justify-content: space-between;
    align-items: center;
}


/* HEADER */



/* SEARCH BAR */

.ui.icon.input {
    width: 80%;
    height: 45px;
    max-width: 935px;
}

#search-bar {
    border-radius: 50px;
}
/* IMAGE */

#main-image {
    width: 100%;
    height: auto;
}


/* CARDS */

#card {
  display: grid;
  place-items: center;
  border-radius: .28571429rem;
  border: 1px solid rgba(34,36,38,.1);
  padding: 15px;
  max-width: 300px;
  max-height: 700px;
  margin: 10px
}

#rImage {
  max-width: 250px;
  max-height: 250px;
  margin: 0;
}
  .ui.header {
    margin-bottom: 5px;
  }

  .meta {
    font-size: 1em;
    color: rgba(0,0,0,.4);
  }

  #cardSection1, #cardSection2, #cardSection3, #cardSection4 {
    display: grid;
    align-items: center;
    width: 100%;
  }
  
  #cardSection1 {
    height: 100%;
    width: 100%;
    margin: 0;
    place-items: center;
  }

#list h2 {
    text-align: center;
}

.react-sanfona-item-title {
  font-size: .95em;
}

.react-sanfona-item-title:hover {
  font-style: italic;
}

/* need to take search bar out of restaurant list container */
#cards-outer{
    overflow-x: hidden;
    height: 60vh;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;

}

#cards-outer::-webkit-scrollbar { width: 0 !important }

.description {
  margin: 20px 0
}

#deliveryBtn, #takeoutBtn {
  width: 100%
}

#call-btn {
  padding-right: 15px;
}

.callBtn {
  width: 30%;
  margin-right: 15px;
}

#website-btn {
  width: 100% !important;
}

.websiteBtn {
  width: 100%;
}

/* FOOTER */

#inner-footer h5 {
    margin-top: 20px ;
}

